{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-8">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                <div class="alert alert-warning" role="alert">
                    {% for message in messages %}
                        {{ message }}<br>
                    {% endfor %}
                </div>
                {% endif %}
            {% endwith %}
            <h3>Избранные вакансии</h3>
            </br>
            {% if favourites %}
                {% for favourite in favourites %}
                <a href="{{ favourite.vacancy_favourite.vacancy_url }}"><h4>{{ favourite.vacancy_favourite.vacancy_name }}</h4></a>
                <h6>{{ favourite.vacancy_favourite.company_name}}</h6>
                <i> Локация:</i>
                <i>{{ favourite.vacancy_favourite.vacancy_city }}</i>
                </br>
                <i> Дата публикации:</i>
                <i>{{ favourite.vacancy_favourite.vacancy_published_at }}</i>
                </br>
                </br>
                <a href="{{ url_for('profile.process_delete', id=favourite.id) }}" class="btn btn-outline-dark btn-sm" role="button">
                      Удалить из избранного
                    </a>
                <hr />
                {% endfor %}
            {% else  %}
            <p>Вы не добавили ни одну вакансию в избранное</p>
            {% endif %}
        </div>
    </div>
{% endblock content %}
