{% extends "base.html" %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-warning" role="alert">
                {{ message }}<br>
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="row">
        <div class="col-8">
            <h3>Личная информация</h3>
            </br>
            <form action="{{ url_for('process_save_changes_person') }}" method="POST">
                {{ form.hidden_tag() }}
              <div class="form-group row">
                {{ form.username.label(class_="col-sm-2 col-form-label") }}
                   <div class="col-sm-5">
                    {{ form.username(placeholder=user.username) }}
                   </div>
              </div>
                <div class="form-group row">
                {{ form.email.label(class_="col-sm-2 col-form-label") }}
                   <div class="col-sm-5">
                    {{ form.email(placeholder=user.email) }}
                   </div>
              </div>
                <div class="form-group row">
                {{ form.first_name.label(class_="col-sm-2 col-form-label") }}
                   <div class="col-sm-5">
                    {{ form.first_name(placeholder=user.first_name) }}
                   </div>
              </div>
                <div class="form-group row">
                {{ form.last_name.label(class_="col-sm-2 col-form-label") }}
                   <div class="col-sm-5">
                    {{ form.last_name(placeholder=user.last_name) }}
                   </div>
              </div>
                <div class="form-group row">
                {{ form.city.label(class_="col-sm-2 col-form-label") }}
                   <div class="col-sm-5">
                    {{ form.city(placeholder=user.city) }}
                   </div>
                </div>
                <p>{{ form.save_changes() }}</p>
             </form>
                </br>
        </div>
        <div class="col-4">
            <form action="{{ url_for('change_password') }}" method="GET">
                <p>{{ form.change_password() }}</p>
            </form>
            <form action="{{ url_for('favourite') }}" method="GET">
                <p>{{ form.favourite() }}</p>
            </form>
            <form action="" method="GET">
                <p>{{ form.relevant() }}</p>
            </form>
        </div>
    </div>
    <div class="row">
         <div class="col-12">
             <h3>Выбрать навыки</h3>
             </br>
             <form action="{{ url_for('process_save_change_skills') }}" method="POST">
                {{ form.hidden_tag() }}
                 <h5>{{ form.skills_nosql.label() }}</h5>
                 {{ form.skills_nosql() }}
                 <p>{{ form.save_changes() }}</p>
             </form>
         </div>
              </div>
         </div>
    </div>
{% endblock content  %}
