{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-8">
            <h3>Личная информация</h3>
            </br>
            <form>
              <div class="form-group row">
                {{ form.username.label(class_="col-sm-2 col-form-label") }}
                   <div class="col-sm-5">
                    {{ form.username(placeholder=user_info.username) }}
                   </div>
              </div>
                <div class="form-group row">
                {{ form.first_name.label(class_="col-sm-2 col-form-label") }}
                   <div class="col-sm-5">
                    {{ form.first_name(placeholder=user_info.first_name) }}
                   </div>
              </div>
                <div class="form-group row">
                {{ form.last_name.label(class_="col-sm-2 col-form-label") }}
                   <div class="col-sm-5">
                    {{ form.last_name(placeholder=user_info.last_name) }}
                   </div>
              </div>
                <div class="form-group row">
                {{ form.city.label(class_="col-sm-2 col-form-label") }}
                   <div class="col-sm-5">
                    {{ form.city(placeholder=user_info.city) }}
                   </div>
                </div>
                </br>
            </form>
        </div>
        <div class="col-4">
            <form>
                <p>{{ form.change_password() }}</p>
            </form>
            <form action="{{ url_for('favourite') }}" method="GET">
                <p>{{ form.favourite() }}</p>
            </form>
            <form>
                <p>{{ form.relevant() }}</p>
            </form>
        </div>
    </div>
    <div class="row">
         <div class="col-12">
             <h3>Выбрать навыки</h3>
             </br>

         </div>
    </div>
{% endblock content  %}
