{% extends "base.html" %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-warning" role="alert">
                {{ message }}<br>
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="row">
        <div class="col-8">
            <h3>Личная информация</h3>
            </br>
            <form action="{{ url_for('process_save_changes_person') }}" method="POST">
                {{ form.hidden_tag() }}
              <div class="form-group row">
                {{ form.username.label(class_="col-sm-2 col-form-label") }}
                   <div class="col-sm-5">
                    {{ form.username(placeholder=user.username) }}
                   </div>
              </div>
                <div class="form-group row">
                {{ form.email.label(class_="col-sm-2 col-form-label") }}
                   <div class="col-sm-5">
                    {{ form.email(placeholder=user.email) }}
                   </div>
              </div>
                <div class="form-group row">
                {{ form.first_name.label(class_="col-sm-2 col-form-label") }}
                   <div class="col-sm-5">
                    {{ form.first_name(placeholder=user.first_name) }}
                   </div>
              </div>
                <div class="form-group row">
                {{ form.last_name.label(class_="col-sm-2 col-form-label") }}
                   <div class="col-sm-5">
                    {{ form.last_name(placeholder=user.last_name) }}
                   </div>
              </div>
                <div class="form-group row">
                {{ form.city.label(class_="col-sm-2 col-form-label") }}
                   <div class="col-sm-5">
                    {{ form.city(placeholder=user.city) }}
                   </div>
                </div>
                </br>
                <p>{{ form.save_changes() }}</p>
             </form>
                </br>
        </div>
        <div class="col-4">
            <form action="{{ url_for('change_password') }}" method="GET">
                <p>{{ form.change_password() }}</p>
            </form>
            <form action="{{ url_for('favourite') }}" method="GET">
                <p>{{ form.favourite() }}</p>
            </form>
            <form action="" method="GET">
                <p>{{ form.relevant() }}</p>
            </form>
        </div>
    </div>
    <div class="row">
         <div class="col-12">
             <h3>Выбрать навыки</h3>
             </br>
             <form action="{{ url_for('process_save_change_skills') }}" method="POST">
                 <h5>Базы данных NoSQL</h5>
                 {% for item_page in skills_nosql_page %}
                 <li>
                     {% if item_page.id in skills_nosql_base %}
                        <input id="skills_nosql_0" name="skills_nosql" type="checkbox" value="{{ item_page.id }}" checked>
                     {% else %}
                        <input id="skills_nosql_1" name="skills_nosql" type="checkbox" value="{{ item_page.id }}">
                     {% endif %}
                        <label>{{ item_page.name }}</label>
                 </li>
                 {% endfor %}
                 </br>
                 <input class="btn btn-primary" type="submit" value="Сохранить изменения">
             </form>
             </br>
         </div>
    </div>
{% endblock content  %}
